/*
* Custom made for the All Day Tech & Gaming community.
* By KelvinCodes, 2023.
* For source code or contribution see our Github repo <url comes here>
*/

@keyframes fade {
    from {
      opacity: 0;
      visibility: hidden;
      transform: translateY(0px);
    }
    to {
      opacity: 1;
      visibility: visible;
      transform: translateY(5px);
    }
}

/* 
* Homepage
*/
/* Banner */
#main_site_banner {
    max-width: fit-content;
    z-index: -1;
    padding-left: 0px;
    padding-right: 0px;
    object-fit: fill;
}

/* social icons */
#social_icons_banner_fb {
    position: absolute;
    right: 9%;
    padding: 20px;
    font-size: 40px;
}

#social_icons_banner_insta{
    position: absolute;
    right: 13%;
    padding: 20px;
    font-size: 40px;
}

#social_icons_banner_fb:hover {
    color: rgb(39, 33, 33);
}

#social_icons_banner_insta:hover {
    color: rgb(39, 33, 33);
}

/* Menu bar */
#menu_bar {
    padding-left: 0px;
    padding-right: 0px;
    background-color: #8224e3; /*rgb(98, 23, 177)*/
}

#menu_bar_home_icon:hover {
    color: rgb(39, 33, 33);
}

/* dropdown icon */
.navbar-toggler:hover {
    background-color: rgb(39, 33, 33);
}

/* text */
.nav-link {
    font-size: 16px;
    font-family: sans-serif;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}  

/* Dropdown */
.dropdown-menu {
    background-color: #1f2024;
    border-radius: 12px;
    margin-top: -5px;
    padding: 0px;
    animation: fade 0.5s ease forwards;
    transition-delay:0.5s;
}

.dropdown-item {
    background-color: #1f2024;
    font-size: 12px;
    font-family: sans-serif;
    color: white;
    text-transform: uppercase;
    border-radius: 12px;
}

.dropdown-item:hover {
    transition: background-color 0.5s;
    background-color: #9a4aed;
    color: white;
    margin-top: 0;
}

.dropdown-divider {
    border-top: 1px solid rgb(204, 179, 179);
}

/* Open dropdown on hover desktop only*/
.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}

/* Animations */
#navbarSupportedContent {
    transition: height 0.5s ease;
}
